{% extends 'crops/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <a href="{% url 'home' %}" class="my-3 btn btn-dark btn-sm">Go Back</a>
        <div class="card shadow-lg">
            <div class="card-body">
                <!-- the form for adding a crop -->
                <form method="POST" enctype="multipart/form-data" action="">
                    <!-- this is for securing the form from malicious attacks -->
                    {% csrf_token %}
                    <!-- this is the label and input for the Title -->
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Crop Name</label>
                        <input required type="text" name="name" class="form-control" placeholder="Enter Crop Name">
                    </div>
                    <!--<div class="mb-3">-->
                    <!--    <label class="form-label font-weight-bold">Planted on</label>-->
                    <!--    <input required type="text" name="planted_on" class="form-control" placeholder="date">-->
                    <!--</div>-->
                    <!-- this is the label and input for the Description -->
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Description</label>
                        <textarea required name="description" class="form-control" placeholder="Crop Description" rows="4"></textarea>
                    </div>
                    <!-- this is the label and input for the Price -->
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Temperature</label>
                        <input required type="number" name="temperature" class="form-control" placeholder="in Celcius">
                    </div>
                    <!-- this is the label and input for the ISBN -->
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Moisture</label>
                        <input required type="number" name="moisture" class="form-control" placeholder="in Kpa">
                    </div>
                    <!-- this is the label and input for the Image -->
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Upload Image:</label>
                        <input required type="file" name="image-file" class="form-control" id="customFile" />
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}