{% extends 'crops/base.html' %}

{% load static %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="">
                <a href="{% url 'home' %}" class="my-3 btn btn-dark btn-sm">Go Back</a>
            </div>
            <div style="height: 90vh">
                <img class="img-fluid text-center" style="max-width: 100%; max-height: 100%" src="{{ crop.image.url }}" alt="image gone">
                <h5 class="text-muted"> {{ crop.name }} </h5>
                <quote>{{ crop.description }}</quote><br>
                <small><b>Last Recorded Temperature:</b>{{crop.temperature}}</small><br>
                <small><b>Last Recorded Moisture:</b> {{ crop.moisture }}</small><br>
                <a href="{% url 'diagnostics' %}" class="btn btn-outline-dark btn-sm">Run Diagnostics</a><br>
                <a href="{% url 'edit-crop' crop.id %}" class="btn btn-success btn-sm">Update Details</a><br>
                <a href="{% url 'delete-crop' crop.id %}" class="btn btn-danger btn-sm">Delete</a><br>
                
            </div>
        </div>
    </div>
{% endblock %}
