{% extends 'crops/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <a href="{% url 'home' %}" class="my-3 btn btn-dark btn-sm">Go Back</a>
        <div class="card shadow-lg">
            <div class="card-body">
                <!-- the form for adding a crop -->
                <form method="POST" enctype="multipart/form-data" action="">
                    <!-- this is for securing the form from malicious attacks -->
                    {% csrf_token %}
                    <!-- this is the label and input for the Title -->
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Crop Name</label>
                        <input required type="text" name="name" class="form-control" placeholder="Enter Crop Name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Discoloration?</label>
                        <textarea required name="discoloration" class="form-control" placeholder="Purple, Yellow patches, None" rows="4"></textarea>
                    </div>
                     <div class="mb-3">
                        <label class="form-label font-weight-bold">Any Deformities</label>
                        <textarea required name="deformed" class="form-control" placeholder="Yes, No" rows="4"></textarea>
                    </div>
                     <div class="mb-3">
                        <label class="form-label font-weight-bold">Region Affected</label>
                        <textarea required name="region_affected" class="form-control" placeholder="All over, Old leaves, Young Leaves" rows="4"></textarea>
                    </div>
                   
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">RUN A CHECK</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}